<h1 class="title" id="header">Welcome to the Super Awesome Image Sharer App!</h1>
<%= link_to 'Add Image', {controller: 'images', action: 'new'}, class: 'js-add-image-link' %>

<br><br>

<h3>Here are the images you have shared so far:</h3>

<table>
  <% @images.each do |image| %>
    <% if image.url %>
      <tr class="js-images">
        <td><%= image_tag(image.url, width: '400', class: 'js-image-url') %></td>
        <td id="tags" class='js-image-tags'><strong>Tags:</strong> <%= raw(image.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %></td>
        <td class='js-delete-button'><%= button_to 'Delete', image_path(image), method: :delete, data: { confirm: 'Are you sure?' }, class: 'js-delete-image-link' %></td>
      </tr>
    <% end %>
  <% end %>
</table>
