<h1 class="title" id="header">Welcome to the Super Awesome Image Sharer App!</h1>
<button><%= link_to 'Add Image', controller: 'images', action: 'new' %></button>

<br><br>

<h3>Here are the images you have shared so far:</h3>

<table>
  <% @images.each do |image| %>
    <% if image.url %>
      <tr>
        <td><%= image_tag(image.url, width: '400') %></td>
      </tr>
    <% end %>
  <% end %>
</table>
